<div>
  <span>Please confirm your email</span>
  <ul>
    <li>Go down by the link and confirm your email.</li>
    <li><%= link_to "link", "https://localhost:3000/v1/emails/confirm/#{@token}" %></li>
  </ul>
</div>